<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Destek Affiliate{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/simple-line-icons/simple-line-icons.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/uniform/css/uniform.default.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css") }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset("bundles/users/assets/global/css/components-rounded.css") }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/css/plugins.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/admin/layout/css/layout.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/admin/layout/css/themes/light2.css") }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset("bundles/users/assets/admin/layout/css/custom.css") }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    {% block stylesheets %}

    {% endblock %}
</head>
<body class="page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid page-boxed page-header-fixed page-sidebar-fixed">

{% include "UsersBundle:Default:header.html.twig" %}

<!-- BEGIN CONTAINER -->
<div class="container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-container">

        <div class="page-content-wrapper">
                {% block body %}{% endblock %}
        </div>
    </div>
</div>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/users/assets/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/users/assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/jquery-migrate.min.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{ asset('bundles/users/assets/global/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/jquery.cokie.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
{% block javascripts %}
{% endblock %}

</body>
</html>
