

<div class="top_header">
    <div class="container">
    <a href="{{ path('user_home') }}" class="top_header_logo">
        <img src="{{ asset('bundles/users/assets/global/img/destek_logo.png') }}" alt="logo" class="logo-default"/>
    </a>
    </div>
</div>
<div class="clearfix"></div>



<div class="page-header navbar">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner container">

        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>

        <div class="hor-menu ">
            <ul class="nav navbar-nav">

                <li {% if 'user_home' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                    <a href="{{ path("user_home") }}">
                        <i class="icon-home"></i> {{ 'general.home' | trans({}, 'AppBundle') }}   </a>
                </li>



                <li class="menu-dropdown classic-menu-dropdown  {% if '/campaign' in app.request.getRequestUri %} active {% endif %} ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                        <i class="icon-star"></i> {{ 'campaign.menu_name'|trans({}, 'AppBundle') }}
                    </a>
                    <ul class="dropdown-menu pull-left">

                        <li class="submenu {% if 'all_camp_list' in app.request.attributes.get('_route') %} active {% endif %} ">
                            <a href="{{ path("all_camp_list") }}">
                                <i class="icon-list"></i>
                                {{ 'campaign.all_camps'|trans({}, 'AppBundle') }}</a>
                        </li>

                        <li class="submenu {% if 'my_camp_list' in app.request.attributes.get('_route') %} active  {% endif %} ">
                            <a href="{{ path("my_camp_list") }}">
                                <i class="icon-list"></i>
                                {{ 'user_campaign.created_codes'|trans({}, 'AppBundle') }}</a>
                        </li>
                    </ul>
                </li>

                <li class="{% if '/domain' in app.request.getRequestUri %} active  {% endif %} ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                        <i class="icon-globe"></i> {{ 'user_domain.menu_name'|trans({}, 'AppBundle') }}
                    </a>
                    <ul class="dropdown-menu pull-left">

                        <li class="submenu {% if 'user_domain_list' in app.request.attributes.get('_route') %} active {% endif %} ">
                            <a href="{{ path("user_domain_list") }}">
                                <i class="icon-list"></i>
                                {{ 'user_domain.domain_list'|trans({}, 'AppBundle') }}</a>
                        </li>

                        <li class="submenu {% if 'user_domain_add' in app.request.attributes.get('_route') %} active  {% endif %} ">
                            <a href="{{ path("user_domain_add") }}">
                                <i class="icon-link"></i>
                                {{ 'user_domain.domain_add'|trans({}, 'AppBundle') }}</a>
                        </li>
                    </ul>
                </li>



                <li class="menu-dropdown classic-menu-dropdown {% if '/reports' in app.request.getRequestUri %} active {% endif %}">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                        <i class="icon-bar-chart"></i> {{ 'reports.menu_name'|trans({}, 'AppBundle') }}
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li class="submenu {% if 'reports_index' in app.request.attributes.get('_route') %} active {% endif %} ">
                            <a href="{{ path("reports_index") }}">
                                <i class="icon-pie-chart"></i>
                                {{ 'reports.summary' | trans({}, 'AppBundle') }}
                            </a>
                        </li>
                        <li class="submenu {% if 'reports_browse_search' in app.request.attributes.get('_route') %} active {% endif %} ">
                            <a href="{{ path("reports_browse_search") }}">
                                <i class="icon-graph"></i>
                                {{ 'reports.browser_search' | trans({}, 'AppBundle') }}
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>



        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->

                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

					<span class="username username-hide-on-mobile">
                            {{ app.user.username|capitalize }}
                    </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="icon-user"></i> {{ 'profile.my_profile'|trans({}, 'AppBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_change_password') }}">
                                <i class="icon-key"></i> {{ 'profile.change_pass'|trans({}, 'AppBundle') }} </a>
                        </li>
                        <li class="">
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="icon-logout"></i>  {{ 'general.logout'|trans({}, 'AppBundle') }}
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->