<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->

<ul class="page-sidebar-menu fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <li class="sidebar-search-wrapper">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
        <form class="sidebar-search ">

            <a href="javascript:;" class="remove">
                <i class="icon-close"></i>
            </a>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li {% if 'user_home' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
        <a href="{{ path("user_home") }}">
            <i class="icon-home"></i>
            <span class="title">
                {{ 'general.home' | trans({}, 'AppBundle') }}
            </span>

        </a>
    </li>
    <li {% if '/campaign' in app.request.getRequestUri %} class="active open" {% endif %}>
        <a href="javascript:;">
            <i class="icon-star"></i>
            <span class="title">{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li {% if 'all_camp_list' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("all_camp_list") }}">
                    <i class="icon-list"></i>
                    {{ 'campaign.all_camps'|trans({}, 'AppBundle') }}</a>
            </li>
 
            <li {% if 'my_camp_list' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("my_camp_list") }}">
                    <i class="icon-list"></i>
                    {{ 'user_campaign.my_camps'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </li>

    <li {% if '/domain' in app.request.getRequestUri %} class="active open" {% endif %}>
        <a href="javascript:;">
            <i class="icon-handbag"></i>
            <span class="title">{{ 'user_domain.menu_name'|trans({}, 'AppBundle') }}</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li {% if 'user_domain_list' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("user_domain_list") }}">
                    <i class="icon-list"></i>
                    {{ 'user_domain.domain_list'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
        <ul class="sub-menu">
            <li {% if 'user_domain_add' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("user_domain_add") }}">
                    <i class="icon-plus"></i>
                    {{ 'user_domain.domain_add'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </li>

    <li {% if '/reports' in app.request.getRequestUri %} class="active open" {% endif %}>
        <a href="javascript:;">
            <i class="icon-bar-chart"></i>
            <span class="title">{{ 'reports.menu_name'|trans({}, 'AppBundle') }}</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li {% if 'reports_index' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path('reports_index') }}">
                    <i class="icon-list"></i>
                    {{ 'reports.summary' | trans({}, 'AppBundle') }}
                </a>
            </li>
        </ul>
        <ul class="sub-menu">
            <li {% if 'reports_browse_search' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path('reports_browse_search') }}">
                    <i class="icon-list"></i>
                    {{ 'reports.browser_search' | trans({}, 'AppBundle') }}
                </a>
            </li>
        </ul>
    </li>
</ul>

<!-- END SIDEBAR MENU -->

<!-- END SIDEBAR -->