{% extends "AffiliateBundle::layout.html.twig" %}

{% block title %}
    {{ 'user.detail'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}



    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('user_detail', {'users': user}) }}">{{ 'user.detail'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <h3 class="page-title">
            Destek Affiliate <small>{{ 'user.detail'|trans({}, 'AppBundle') }}</small>
        </h3>

        <div class="row">
            <div class="col-md-12">

                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>{{ 'user.detail'|trans({}, 'AppBundle') }}
                        </div>

                    </div>
                    <div class="portlet-body">
                        {% for flashMessage in app.session.flashbag.get('user_notice') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}


                        {# User Detail #}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="portlet solid grey">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-user"></i>{{ 'user.detail'|trans({}, 'AppBundle') }}
                                        </div>
                                        <div class="actions">
                                            <div class="btn-group">
                                                <a class="btn btn-sm blue" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-user"></i> {{ 'general.action'|trans({}, 'AppBundle') }} <i class="fa fa-angle-down "></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        {% if user.locked == true %}
                                                            <a data-toggle="confirmation" data-title="{{ 'general.areyousure'|trans({}, 'AppBundle') }}" data-popout="true" data-placement="top" href="{{ path("user_unblock", {"user_id": user.id }) }}">
                                                                <i class="fa fa-ban"></i> {{ 'user.unban'|trans({}, 'AppBundle') }} </a>
                                                        {% else %}
                                                        <a data-toggle="confirmation" data-title="{{ 'general.areyousure'|trans({}, 'AppBundle') }}" data-popout="true" data-placement="top" href="{{ path("user_block", {"user_id": user.id }) }}">
                                                            <i class="fa fa-ban"></i> {{ 'user.ban'|trans({}, 'AppBundle') }} </a>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                                <a data-toggle="confirmation" data-title="{{ 'general.areyousure'|trans({}, 'AppBundle') }}" data-popout="true" data-placement="top" class="btn btn-sm red">{{ 'general.delete'|trans({}, 'AppBundle') }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-bordered table-striped">
                                            <tbody>
                                                {% if user.tc != '' %}
                                                    <tr>
                                                        <td>{{ 'user_register.tc'|trans({}, 'AppBundle') }}</td>
                                                        <td>{{ user.tc }}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td>{{ 'user_register.taxno'|trans({}, 'AppBundle') }}</td>
                                                        <td>{{ user.taxNo }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ 'user_register.taxadmin'|trans({}, 'AppBundle') }}</td>
                                                        <td>{{ user.taxAdmin }}</td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td>{{ 'user_register.fullname'|trans({}, 'AppBundle') }}</td>
                                                    <td>{{ user.fullName }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'user_register.country'|trans({}, 'AppBundle') }}</td>
                                                    <td>{{ user.country|countryName }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'user_register.city'|trans({}, 'AppBundle') }}</td>
                                                    <td>{{ user.city }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'user_register.phone'|trans({}, 'AppBundle') }}</td>
                                                    <td>{{ user.phone }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'user_register.e-mail'|trans({}, 'AppBundle') }}</td>
                                                    <td>{{ user.email }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>



                        {# User Domain Details #}

                            <div class="col-md-6">
                                <div class="portlet solid grey">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>{{ 'user.domain_list'|trans({}, 'AppBundle') }}
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-bordered table-striped table-hover" id="user_domain_list">
                                            <thead>
                                                <th>{{ 'user.domain_name'|trans({}, 'AppBundle') }}</th>
                                                <th>{{ 'general.status'|trans({}, 'AppBundle') }}</th>
                                                <th>{{ 'general.action'|trans({}, 'AppBundle') }}</th>
                                            </thead>
                                            <tbody>
                                                {% for domain in domains %}
                                                    <tr>
                                                        <td>
                                                            {{ domain.name }}

                                                            {#
                                                                Bu kısım hidden olacak ve table-advanced.js içerisinde oluşturduğum listDomain fonksiyonu bunu kullanacak.
                                                            #}
                                                            <div style="display: none" class="mycamps">
                                                                {% for user_campaign in domain.getCamps() %}
                                                                    <div class="mycamp_{{ user_campaign.getId() }}">
                                                                        <a href="{{ path('admin_user_camp_report', {userCampaign: user_campaign.getId()}) }}">{{ user_campaign.campaign }} - {{ user_campaign.campName }}</a>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if domain.enabled %}
                                                                {{ 'general.active' | trans({}, 'AppBundle') }}
                                                            {% else %}
                                                                {{ 'general.inactive' | trans({}, 'AppBundle') }}
                                                            {% endif %}
                                                        </td>
                                                        <td style="text-align: center"><a href="{{ path('user_domain_detail', {'domain': domain.id}) }}"><i class="fa-pencil-square-o fa"></i></a></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>




{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css") }}"/>
{% endblock %}

{% block extra_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/user_detail_table.js") }}"></script>

    <script>
        jQuery(document).ready(function() {
            TableAdvanced.init();
            UIConfirmations.init();
        });
    </script>
{% endblock %}