{% extends "AffiliateBundle::layout.html.twig" %}

{% block title %}
    {{ 'user_campaign.camp_detail'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}

    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('users') }}">{{ 'user.menu_name'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('user_detail', {'users': user.id}) }}">{{ 'user.detail_name'|trans({"%isim%":user.fullName}, 'AppBundle') | raw }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('admin_user_camp_report', {userCampaign: usercamp.id}) }}">{{ usercamp.campName }} {{ 'reports.summary' | trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <div id="chartdiv" style="width:100%; height:600px;"></div>

    </div>


{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/css/multi-select.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") }}"/>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-dropdowns.js") }}"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/jquery.pulsate.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/holder.js") }}" type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") }}"></script>

    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-general.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-pickers.js") }}"></script>



    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amcharts/amcharts.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amcharts/serial.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amcharts/pie.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amcharts/radar.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amcharts/themes/light.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amcharts/themes/patterns.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amcharts/themes/chalk.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/ammap/ammap.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/amcharts/amstockcharts/amstock.js") }}"></script>



    <script type="text/javascript">

        var dataProvider = [];
        dataProviderbuild = [];


        {% set first = date("now").format("Y-m") ~ "-01 00:00:00" %}
        var firstDate = '{{ first }}';
        {% set last = date("now").format("Y-m-t") ~ " 23:59:59" %}
        var endDate = '{{ last }}';

        var url = Routing.generate('admin_user_camp_report', {userCampaign: {{ usercamp.id }} }).toString();
        jQuery.post(url,{ startDate:firstDate , endDate:endDate },function(datajson){


            datajson.forEach(function(djson) {

                dataProvider.push({
                    date: djson.date,
                    view: djson.view,
                    click: djson.click
                });

                localStorage.setItem(djson.date.toString()+'w',djson.view);
                localStorage.setItem(djson.date.toString()+'c',djson.click);

            });

            var firstDate = new Date();
            firstDate.setDate( firstDate.getDate() -7);
            firstDate.setHours( 0, 0, 0, 0 );

            for ( var i = 0; i < 1500; i++ ) {
                var newDates = new Date( firstDate );
                newDates.setMinutes( newDates.getMinutes() + (i*5));
                var newDate = new Date(newDates);

                tarihs = (newDate.getFullYear()+'-'+(((newDate.getMonth()+1) < 10)?"0":"") + (newDate.getMonth()+1)+'-'+((newDate.getDate() < 10)?"0":"") + newDate.getDate() +' '+((newDate.getHours() < 10)?"0":"") + newDate.getHours() +":"+ ((newDate.getMinutes() < 10)?"0":"") + newDate.getMinutes() );

            }
            chart.validateData();
        });

        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "categoryField": "date",
            "dataDateFormat": "YYYY-MM-DD HH:NN",

            "mouseWheelZoomEnabled": true,

            "dataProvider": dataProvider,

            "valueAxes": [{

                "gridAlpha": 0.07,
                "position": "left",
                "title": "Traffic incidents"
            }],
            "graphs": [{
                "fillAlphas": 0.6,
                "id": "Click",
                "lineAlpha": 0.4,
                "title": "Click",
                "valueField": "click"
            }, {
                "id": "View",
                "fillAlphas": 0.6,
                "lineAlpha": 0.4,
                "title": "View",
                "valueField": "view"
            }],
            "plotAreaBorderAlpha": 0,
            "marginTop": 10,
            "marginLeft": 0,
            "marginBottom": 0,

            "chartCursor": {
                "cursorAlpha": 0,
                "limitToGraph":"view",
                categoryBalloonDateFormat :  "YYYY-MM-DD HH:NN"
            },

            "categoryAxis": {
                "minPeriod": "mm",
                "parseDates": true,
                "widthField": "click"
            },
            "periodSelector": {
                "position": "left",
                "periods": [ {
                    "period": "MM",
                    "selected": true,
                    "count": 1,
                    "label": "1 month"
                }, {
                    "period": "YYYY",
                    "count": 1,
                    "label": "1 year"
                }, {
                    "period": "YTD",
                    "label": "YTD"
                }, {
                    "period": "MAX",
                    "label": "MAX"
                } ],
                "listeners": [ {
                    "event": "changed",
                    "method": function( event ) {
                        if ( event.predefinedPeriod !== undefined ) {
                            console.log( event.predefinedPeriod, event.count );
                        }
                    }
                } ]
            },

            "export": {
                "enabled": true
            }
        });

        jQuery(document).ready(function() {
            UIGeneral.init();
            ComponentsDropdowns.init();
            ComponentsPickers.init();
        });

        function getDateTime(date) {

            var newDate = new Date(date);

            Date.prototype.today = function () {
                return ((this.getDate() < 10)?"0":"") + this.getDate() +"-"+(((this.getMonth()+1) < 10)?"0":"") + (this.getMonth()+1) +"-"+ this.getFullYear();
            }

            Date.prototype.timeNow = function () {
                return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
            }

            return datetime = newDate.today() + " " + newDate.timeNow();
        }

    </script>

{% endblock %}