{% extends "@App/Default/base.html.twig" %}

{% block body %}

<div style="width: 1000px; margin: 20px auto">
    <h2 style="text-align: center">Destek Menkul Partner Sistemine Hoşgeldiniz</h2>
    <p style="text-align: center">
        <a href="{{ path("fos_user_registration_register") }}">Üye Ol</a> - <a href="{{ path("fos_user_security_login") }}">Giriş Yap</a>
    </p>
</div>

{% endblock %}