{% extends 'UsersBundle::layout.html.twig' %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('user_domain_list') }}">{{ 'user_domain.menu_name'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('user_domain_add') }}">{{ 'user_domain.domain_add'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-blue-sunglo"></i>
                            <span class="caption-subject font-sunglo bold">{{ 'user_domain.domain_add'|trans({}, 'AppBundle') }}</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="{{ path('user_domain_add') }}" method="post" class="horizontal-form">

                            {{ form_errors(form) }}
                                <div class="form-control">
                                        {{ 'user_domain.domain_name' | trans({}, 'AppBundle') }}
                                        {{ form_widget(form.name) }}
                                        {{ form_errors(form.name) }}
                                </div>
                            <div class="form-actions left">
                                <button type="submit" class="btn blue"><i class="fa fa-check"></i> {{ 'general.save'|trans({}, 'AppBundle') }}</button>
                            </div>
                            {{ form_row(form._token) }}
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}