{% extends 'UsersBundle::layout.html.twig' %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('user_domain_list') }}">{{ 'user_domain.menu_name'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ domain.name }}
                    {{ 'user_domain.domain_detail' | trans({}, 'AppBundle') }}
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa"></i> {{ domain.name }} {{ 'user_domain.domain_detail' | trans({}, 'AppBundle') }}
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label bold">{{ 'user_domain.created_date' | trans({}, 'AppBundle') }}</label> :
                                    {{ domain.createdAt.format('Y-m-d H:i') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label bold">{{ 'user_domain.domain_enable_state' | trans({}, 'AppBundle') }}</label> :
                                    {% if domain.enabled %}
                                        {{ 'general.active' | trans({}, 'AppBundle') }}
                                    {% else %}
                                        {{ 'general.inactive' | trans({}, 'AppBundle') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-money"></i> {{ 'user_domain.domain_camps' | trans({}, 'AppBundle') }}
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_6">
                            <thead>
                            <tr>
                                <th>{{ 'general.created_date'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'user_campaign.publish_site'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'campaign.description'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'user_campaign.camp_real_end_date'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'general.detail'|trans({}, 'AppBundle') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for usercamp in campaings %}
                                <tr>
                                    <td>{{ usercamp.createdAt.format('Y-m-d H:i') }}</td>
                                    <td><a href="//{{ usercamp.domain.getName }}">{{ usercamp.domain.getName }}</a></td>
                                    <td>{{ usercamp.campaign.getDescription }}</td>
                                    {% if usercamp.campaign.endDate is null %}
                                        <td><span>{{ 'user_campaign.camp_no_end_date'|trans({},'AppBundle') }}</span></td>
                                    {% else %}
                                        <td>{{ usercamp.campaign.endDate.format('Y-m-d') }}</td>
                                    {% endif %}
                                    <td><a href="{{ path('user_camp_my_camp_detail', {'userCampaign': usercamp.id}) }}"><i class="fa fa-cogs"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css") }}"/>
{% endblock %}

{% block extra_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/table-advanced.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script>
        jQuery(document).ready(function() {
            UIConfirmations.init();
        });
    </script>
{% endblock %}