{% extends 'UsersBundle::layout.html.twig' %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a>{{ 'user_domain.menu_name'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('user_domain_list') }}">{{ 'user_domain.domain_list'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-blue-sunglo"></i>
                            <span class="caption-subject font-sunglo bold">{{ 'user_domain.domain_add'|trans({}, 'AppBundle') }}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="domain_list">
                            <thead>
                                <tr>
                                    <th>{{ 'user_domain.domain_name' | trans({}, 'AppBundle') }}</th>
                                    <th>{{ 'user_domain.created_date' | trans({}, 'AppBundle') }}</th>
                                    <th>{{ 'user_domain.domain_enable_state' | trans({}, 'AppBundle') }}</th>
                                    <th>{{ 'general.detail' | trans({}, 'AppBundle') }}</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for domain in domains %}
                                <tr>
                                    <td>
                                        {{ domain.name }}

                                        {#
                                            Bu kısım hidden olacak ve table-advanced.js içerisinde oluşturduğum listDomain fonksiyonu bunu kullanacak.
                                        #}
                                        <div style="display: none" class="mycamps">
                                            {% for user_campaign in domain.getCamps() %}
                                                <div class="mycamp_{{ user_campaign.getId() }}">
                                                    <a href="{{ path('user_camp_my_camp_detail', {userCampaign: user_campaign.getId()}) }}">{{ user_campaign.campaign }} - {{ user_campaign.campName }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td>{{ domain.createdAt.format('Y-m-d H:i') }}</td>
                                    <td>
                                        {% if domain.enabled %}
                                            {{ 'general.active' | trans({}, 'AppBundle') }}
                                        {% else %}
                                            {{ 'general.inactive' | trans({}, 'AppBundle') }}
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center"><a href="{{ path('user_domain_detail', {'domain': domain.id}) }}"><i class="fa-pencil-square-o fa"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}




{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/users/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/users/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/users/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/users/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css") }}"/>
{% endblock %}

{% block extra_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="{{ asset("bundles/users/assets/admin/pages/scripts/table-advanced.js") }}"></script>
    <script src="{{ asset("bundles/users/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script>
        jQuery(document).ready(function() {
            TableAdvanced.init();
            UIConfirmations.init();
        });
    </script>
{% endblock %}