{% extends "@Users/Default/base.html.twig" %}

{% block body %}

{% endblock %}

{% block sidebar %}
    {% include "UsersBundle:Default:sidebar.html.twig" %}
{% endblock %}

{% block stylesheets %}

    <link type="text/css" rel="stylesheet" href="{{ asset("bundles/users/assets/global/plugins/select2/select2.css") }}">
    {% block extra_css %}
    {% endblock %}

{% endblock %}

{% block javascripts %}

    <script src="{{ asset("bundles/users/assets/global/scripts/metronic.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/admin/layout/scripts/layout.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/admin/layout/scripts/quick-sidebar.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/admin/layout/scripts/demo.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script src="{{ asset("bundles/users/assets/admin/pages/scripts/form-samples.js") }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function() {
            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            //QuickSidebar.init(); // init quick sidebar
            //Demo.init(); // init demo features
            FormSamples.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->

    {% block extra_js %}

    {% endblock %}

{% endblock %}