{% extends 'UsersBundle::layout.html.twig' %}

{% form_theme user_form "bootstrap_3_horizontal_layout.html.twig" %}
{% block body %}

    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('user_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('fos_user_profile_show') }}">{{ 'profile.my_profile'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="col-md-12">

                <form action="{{ path('fos_user_profile_edit') }}" method="post" class="form-horizontal">

                    {{ form_row(user_form.tc) }}
                    {{ form_row(user_form.fullName) }}
                    {{ form_row(user_form.phone) }}
                    {{ form_row(user_form.email) }}
                    {{ form_row(user_form.country) }}
                    {{ form_row(user_form.city) }}
                    {{ form_row(user_form.address) }}

                    <div class="col-sm-2" style="float: right;">
                        <input type="submit" class="btn btn-primary btn-block" value="{{ 'general.save'|trans({}, 'AppBundle') }}" />
                    </div>

                    {{ form_widget(user_form._token) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/users/assets/global/plugins/bootstrap-toastr/toastr.min.css') }}">
{% endblock %}

{% block extra_js %}

    <script src="{{ asset('bundles/users/assets/global/plugins/bootstrap-toastr/toastr.min.js') }}"></script>
    <script type="text/javascript">

        $(document).on("ready", function () {

            // İhtiyaca göre editledim.
            var UIToastr = function () {

                return {
                    init: function () {

                        var user_notice = {% if app.session.flashBag.has('user_notice') %}true{% else %}false{% endif %};

                        if(user_notice){
                            var shortCutFunction = "{% if app.session.flashBag.has('notice_type') %}{{ app.session.flashBag.get('notice_type')[0] }}{% else %}success{% endif %}";
                            var msg = '{% if app.session.flashBag.has('user_notice') %} {{ app.session.flashBag.get('user_notice')[0] }} {% endif %}';
                            var title = "{% if app.session.flashBag.has('notice_title') %} {{ app.session.flashBag.get('notice_title')[0] }} {% else %} {{ 'general.msg_success' | trans({}, 'AppBundle') }} {% endif %}";
                            var showDuration = 1000;
                            var hideDuration = 1000;
                            var timeOut = 5000;
                            var extendedTimeOut = 1000;
                            var showEasing = "swing";
                            var hideEasing = "linear";
                            var showMethod = "fadeIn";
                            var hideMethod = "fadeOut";

                            toastr.options = {
                                closeButton: true,
                                debug: false,
                                positionClass: 'toast-top-right',
                                onclick: null,
                                showDuration: showDuration,
                                hideDuration: hideDuration,
                                timeOut: timeOut,
                                extendedTimeOut: extendedTimeOut,
                                showEasing: showEasing,
                                hideEasing: hideEasing,
                                showMethod: showMethod,
                                hideMethod: hideMethod
                            };
                            toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                        }
                    }

                };

            }();

            UIToastr.init();
        });
    </script>
{% endblock %}