<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->

<ul class="page-sidebar-menu fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <li class="sidebar-search-wrapper">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
        <form class="sidebar-search " action="{{ path("admin_search") }}" method="POST">
            <a href="javascript:;" class="remove">
                <i class="icon-close"></i>
            </a>
            <div class="input-group">
                <input type="text" class="form-control" name="keyword" placeholder="Search...">
							<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li {% if 'admin' in app.request.attributes.get('_route') %} class="start active open" {% endif %}>
        <a href="{{ path("admin_home") }}">
            <i class="icon-home"></i>
            <span class="title">{{ 'general.home'|trans({}, 'AppBundle') }}</span>
            <span class="selected"></span>
        </a>
    </li>

    <li {% if 'campaign' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
        <a href="javascript:;">
            <i class="icon-star"></i>
            <span class="title">{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li {% if 'campaign_list' == app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("campaign_list") }}">
                    <i class="icon-list"></i>
                    {{ 'campaign.list'|trans({}, 'AppBundle') }}</a>
            </li>
            <li {% if 'campaign_add' == app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("campaign_add") }}">
                    <i class="icon-plus"></i>
                    {{ 'campaign.add'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </li>

    <li {% if 'content' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
        <a href="javascript:;">
            <i class="icon-feed"></i>
            <span class="title">{{ 'content.list'|trans({}, 'AppBundle') }}</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li {% if 'contents' == app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("contents") }}">
                    <i class="icon-list"></i>
                    {{ 'content.list'|trans({}, 'AppBundle') }}</a>
            </li>
            <li {% if 'contents_add' == app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("content_add") }}">
                    <i class="icon-plus"></i>
                    {{ 'content.add'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </li>


    <li {% if 'user' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
        <a href="javascript:;">
            <i class="icon-user"></i>
            <span class="title">{{ 'user.menu_name'|trans({}, 'AppBundle') }}</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li {% if 'user' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("users") }}">
                    <i class="icon-list"></i>
                    {{ 'user.list'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </li>


    {#
    <li {% if 'commission' in app.request.attributes.get('_route') %} class="active open" {% endif %}>
        <a href="javascript:;">
            <i class="icon-bar-chart"></i>
            <span class="title">{{ 'commission.menu_name'|trans({}, 'AppBundle') }}</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li {% if 'commission_list' == app.request.attributes.get('_route') %} class="active open" {% endif %}>
                <a href="{{ path("commission_list") }}">
                    <i class="icon-list"></i>
                    {{ 'commission.list'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </li>
    #}

</ul>

<!-- END SIDEBAR MENU -->

<!-- END SIDEBAR -->