{% extends "@Affiliate/layout.html.twig" %}

{% block title %}
    {{ 'campaign.add'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}

    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('campaign_add') }}">{{ 'campaign.add'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <h3 class="page-title">
            Destek Affiliate <small>{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</small>
        </h3>

        <div class="row">
            <div class="col-md-12">

                <div class="portlet light bg-inverse">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">{{ 'campaign.add'|trans({}, 'AppBundle') }}</span>
                        </div>
                    </div>
                    <div class="portlet-body form">

                        <!--
                            TODO: Flashdataları otomatik hale getirip, tek viewde ayarlıyalım.
                        -->
                        {% for flashMessage in app.session.flashbag.get('campaign_notice') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <!-- BEGIN FORM-->
                        <form action="{{ path('campaign_add') }}" method="post" class="horizontal-form">

                            {{ form_errors(form) }}


                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.name'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.camp_name, {'attr': {'class': 'form-control'}}) }}
                                                                    <span class="help-block">
                                                                    {{ 'campaign.name_help'|trans({}, 'AppBundle') }} </span>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.landing_url'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.landing_url, {'attr': {'class': 'form-control'}}) }}
                                                                    <span class="help-block">
                                                                    {{ 'campaign.landing_url_help'|trans({}, 'AppBundle') }}</span>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.description'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">
                                                                    {{ 'campaign.description_help'|trans({}, 'AppBundle') }} </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'commission.add'|trans({}, 'AppBundle') }}</label>
                                            <select id="campaign_caco" multiple name="commissions[]" class="form-control select2" required>
                                            {% for comm in commission %}
                                                <option {% if comm.getComName() == 'CPL' %} selected {% endif %} value="{{ comm.getId() }}">{{ comm.getComName() }}</option>
                                            {% endfor %}
                                            </select>
                                            {# {{ form_widget(form.caco, {'attr': {'multiple': 'multiple', 'class': 'form-control select2'}}) }} #}
                                            <span class="help-block">
                                                                    {{ 'commission.name_help'|trans({}, 'AppBundle') }} </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.start_date'|trans({}, 'AppBundle') }}</label>
                                            <div class="input-group date date-picker">
                                                {{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
												<span class="input-group-btn">
												<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
												</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.end_date'|trans({}, 'AppBundle') }}</label>
                                            <div class="input-group date date-picker">
                                                {{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
                                                <span class="input-group-btn">
												<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
												</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            <div class="form-actions left">
                                <button type="button" class="btn default">{{ 'general.cancel'|trans({}, 'AppBundle') }}</button>
                                <button type="submit" class="btn blue"><i class="fa fa-check"></i> {{ 'general.save'|trans({}, 'AppBundle') }}</button>
                            </div>
                            {{ form_row(form._token) }}
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>


            </div>
        </div>


    </div>


{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/css/multi-select.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") }}"/>


{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") }}"></script>

    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-dropdowns.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-pickers.js") }}"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script>
        jQuery(document).ready(function() {
            ComponentsDropdowns.init();
            ComponentsPickers.init();
        });
    </script>

{% endblock %}