{% extends "AffiliateBundle::layout.html.twig" %}

{% block title %}
    {{ 'campaign.list'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}
<div class="page-content">

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('campaign_list') }}">{{ 'campaign.list'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </div>

    <h3 class="page-title">
        Destek Affiliate <small>{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</small>
    </h3>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>{{ 'campaign.list'|trans({}, 'AppBundle') }}
                    </div>

                </div>
                <div class="portlet-body">
                    {% for flashMessage in app.session.flashbag.get('campaign_notice') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <table class="table table-striped table-bordered table-hover" id="sample_6">
                        <thead>
                            <tr>
                                <th>{{ 'campaign.name'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'campaign.landing_url'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'campaign.description'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'general.edit'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'campaign.manage'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'general.action'|trans({}, 'AppBundle') }}</th>
                                <th>{{ 'general.delete'|trans({}, 'AppBundle') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for campaign in campaigns %}
                            <tr>
                                <td>{{ campaign.getCampName() }}</td>
                                <td>{{ campaign.getLandingUrl() }}</td>
                                <td>{{ campaign.getDescription() }}</td>

                                <td align="center"><a href="{{ path("campaign_edit", {'id':  campaign.getId()  }) }}" class="btn blue btn-xs"><i class="glyphicon glyphicon-edit"></i> </a></td>
                                <td align="center"><a href="{{ path("campaign_commission_manager", {'campaign_id':  campaign.getId()  }) }}" class="btn yellow btn-xs"><i class="glyphicon glyphicon-magnet"></i> </a></td>
                                {% if campaign.getIsHide() == true %}
                                    <td align="center"><a href="{{ path("campaign_unhide", {'campaign':  campaign.getId()  }) }}" class="btn green btn-xs"><i class="glyphicon glyphicon-eye-open"></i> </a></td>
                                {% else %}
                                    <td align="center"><a href="{{ path("campaign_hide", {'campaign':  campaign.getId()  }) }}" class="btn grey btn-xs"><i class="glyphicon glyphicon-eye-close"></i> </a></td>
                                {% endif %}
                                <td align="center"><a href="{{ path("campaign_delete", { 'campaign': campaign.getId() }) }}" class="btn red btn-xs" data-toggle="confirmation" data-title="{{ 'general.areyousure'|trans({}, 'AppBundle') }}" data-popout="true" data-placement="top"><i class="glyphicon glyphicon-remove"></i> </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css") }}"/>
{% endblock %}

{% block extra_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/table-advanced.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script>
        jQuery(document).ready(function() {
            TableAdvanced.init();
            UIConfirmations.init();
        });
    </script>
{% endblock %}