{% extends "@Users/Security/login_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="{{ asset('bundles/users/assets/global/img/destek_logo.png') }}" alt=""/>
    </a>
</div>
<!-- END LOGO -->

<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action=" {% if 'admin' in app.request.attributes.get('_route') %}{{ path("admin_check") }}{% else %}{{ path("fos_user_security_check") }}{% endif %}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <h3 class="form-title">Affilate Yönetim Ekranı</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
			<span>
			Kullanıcı adınız veya şifreniz hatalı</span>
        </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Kullanıcı Adı" name="_username"/>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Şifre</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre" name="_password"/>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">{{ 'security.login.submit'|trans }}</button>
            <label class="rememberme check">
                <input type="checkbox" name="_remember_me" value="1"/>{{ 'security.login.remember_me'|trans }}
            </label>
        </div>
    </form>
    <!-- END LOGIN FORM -->

</div>
<!-- END LOGIN -->
{% endblock %}


{% block javascripts %}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/users/assets/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/users/assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/jquery-migrate.min.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{ asset("bundles/users/assets/global/plugins/bootstrap/js/bootstrap.min.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/global/plugins/jquery.blockui.min.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/global/plugins/jquery.cokie.min.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/global/plugins/uniform/jquery.uniform.min.js") }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset("bundles/users/assets/global/plugins/jquery-validation/js/jquery.validate.min.js") }}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset("bundles/users/assets/global/scripts/metronic.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/admin/layout/scripts/layout.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/admin/layout/scripts/demo.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/admin/pages/scripts/login.js") }}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Login.init();
        Demo.init();
    });
</script>
<!-- END JAVASCRIPTS -->

{% endblock %}