<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 3.8.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Destek Affiliate{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/simple-line-icons/simple-line-icons.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/uniform/css/uniform.default.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css") }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{{ asset("bundles/users/assets/admin/pages/css/login.css") }}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset("bundles/users/assets/global/css/components-rounded.css") }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/global/css/plugins.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/admin/layout/css/layout.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/users/assets/admin/layout/css/themes/light2.css") }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset("bundles/users/assets/admin/layout/css/custom.css") }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    {% block stylesheets %}

    {% endblock %}
</head>
<body class="login">
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}


{% block fos_user_content %}
{% endblock fos_user_content %}

{% block javascripts %}

{% endblock %}

</body>
</html>