{% extends "@Affiliate/layout.html.twig" %}

{% block title %}
    {{ 'commission.add'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}

    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('commission_add') }}">{{ 'commission.add'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <h3 class="page-title">
            Destek Affiliate <small>{{ 'commission.menu_name'|trans({}, 'AppBundle') }}</small>
        </h3>

        <div class="row">
            <div class="col-md-12">

                <div class="portlet light bg-inverse">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">{{ 'commission.add'|trans({}, 'AppBundle') }}</span>
                        </div>
                    </div>
                    <div class="portlet-body form">

                        <!--
                            TODO: Flashdataları otomatik hale getirip, tek viewde ayarlıyalım.
                        -->
                        {% for flashMessage in app.session.flashbag.get('commission_notice') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <!-- BEGIN FORM-->
                        <form action="{{ path('commission_add') }}" method="post" class="horizontal-form">

                            {{ form_errors(form) }}


                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.name'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">
                                                                    {{ 'campaign.name_help'|trans({}, 'AppBundle') }} </span>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.landing_url'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.approved, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">
                                                                    {{ 'campaign.landing_url_help'|trans({}, 'AppBundle') }}</span>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ 'campaign.description'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.campaign, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">
                                                                    {{ 'campaign.description_help'|trans({}, 'AppBundle') }} </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions left">
                                <button type="button" class="btn default">{{ 'general.cancel'|trans({}, 'AppBundle') }}</button>
                                <button type="submit" class="btn blue"><i class="fa fa-check"></i> {{ 'general.save'|trans({}, 'AppBundle') }}</button>
                            </div>
                            {{ form_row(form._token) }}
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>


            </div>
        </div>


    </div>


{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
{% endblock %}