{% extends "AffiliateBundle::layout.html.twig" %}

{% block title %}
    {{ 'commission.list'|trans({}, 'AffiliateBundle') }}
{% endblock %}


{% block body %}
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AffiliateBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('campaign_commission_manager', {'campaign_id':campaign.getId()}) }}">{{ 'campaign.manage_desc'|trans({}, 'AffiliateBundle') }}</a>
                </li>
            </ul>
        </div>

        <h3 class="page-title">
            Destek Affiliate <small>{{ 'campaign.menu_name'|trans({}, 'AffiliateBundle') }}</small>
        </h3>

        {% for flashMessage in app.session.flashbag.get('terms_notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for camp_com in campaign_commissions %}
            {% if camp_com.getCommissionId() in commissions %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue-hoki">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>{{ camp_com.getCommissionId().getComName()  ~ " - " }}<small>{{ campaign.getCampName() }}</small>
                                </div>
                                <div class="actions">
                                    <a href="javascript:;" id="addTerm" class="btn btn-default btn-sm">
                                        <i class="fa fa-plus"></i> {{ 'general.add'|trans({}, 'AffiliateBundle') }} </a>

                                </div>
                            </div>
                            <div class="portlet-body">
                                <p class="note note-info">
                                    {{ 'terms.cpl_desc'|trans({}, 'AffiliateBundle') }}
                                </p>
                                <form action="{{ path('campaign_add_term', {'campaign': campaign.getId()}) }}" class="horizontal-form" method="post">
                                    <input type="hidden" name="commission_model_id" value="{{ camp_com.getCommissionId().getId() }}" />
                                    <div id="terms">
                                        <div class="termItem well well-sm" style="display: none;" id="termItem">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="label label-primary">{{ 'general.term'|trans({}, 'AffiliateBundle') }}</label>
                                                    <select class="col-md-12 form-control dynamicTermSelect" name="condition[]">
                                                        <option value="">{{ 'general.select_default'|trans({}, 'AffiliateBundle') }}</option>
                                                        {% for term in terms %}
                                                            <option value="{{ term.getId() }}">{{ term.getName() }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="label label-primary">{{ 'terms.term_op'|trans({}, 'AffiliateBundle') }}</label>
                                                    <select class="form-control col-md-12" name="term_op[]">
                                                        {% for op in term_ops %}
                                                            <option value="{{ op.getId() }}">{{ op.getName() }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4 dynamicTermValue">
                                                    <label class="label label-primary">{{ 'general.value'|trans({}, 'AffiliateBundle') }}</label>
                                                    <input class="col-md-12 form-control" name="condition-value[]" type="text" placeholder="Value" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <input type="submit" class="btn btn-primary" value="Gönder" />
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            {% endif %}


            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box red-flamingo">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i> {{ 'campaign.added_terms'|trans({}, 'AffiliateBundle') }}</small>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th>{{ 'campaign.name'|trans({}, 'AffiliateBundle') }}</th>
                                    <th>{{ 'commission.name'|trans({}, 'AffiliateBundle') }}</th>
                                    <th>{{ 'terms.name'|trans({}, 'AffiliateBundle') }}</th>
                                    <th>{{ 'terms.values'|trans({}, 'AffiliateBundle') }}</th>
                                    <th>{{ 'general.delete'|trans({}, 'AffiliateBundle') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in campaign_terms %}
                                    <tr>
                                        <td>{{ item.getCampaignId() }}</td>
                                        <td>{{ item.getCommissionId() }}</td>
                                        <td>{{ item.getTermId() }}</td>
                                        <td>
                                            {% if item.getTermId().getTermType() == 'country' %}
                                                {% set rawvalues = item.getTermValues('string') %}
                                                {% set values = rawvalues|split(',') %}

                                                {% for val in values %}
                                                    {{ val|trim|countryName }},
                                                {% endfor %}
                                            {% else %}
                                                {{ item.getTermValues('string') }},
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ path("campaigns_terms_delete", {'term': item.getId() , 'campaign' : item.getCampaignId().getId() }) }}" data-toggle="confirmation" data-btn-cancel-label="{{ 'general.no'|trans({}, 'AffiliateBundle') }}" data-btn-cancel-icon="icon-close" data-btn-ok-icon="icon-like" data-btn-ok-label="{{ 'general.yes'|trans({}, 'AffiliateBundle') }}" data-popout="true" data-original-title="{{ 'general.are_you_sure'|trans({}, 'AffiliateBundle') }}" title="{{ 'general.are_you_sure'|trans({}, 'AffiliateBundle') }}"  class="btn btn-danger btn-block"><i class="fa fa-remove"></i> </a> </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}


    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css") }}"/>
{% endblock %}

{% block extra_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/table-advanced.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>

    <script>
        jQuery(document).ready(function() {
            UIConfirmations.init();
        });

        $(function(){



            $('#addTerm').click(function() {
                var number = Math.floor((Math.random() * 1000) + 1);
                var $newDom = $('#termItem').clone();
                $($newDom).find('.row').append('<div class="col-md-2"><label class="label">&nbsp;</label><br /><a class="btn btn-danger" onclick="removeTerm('+number+')"><i class="fa fa-remove"></i></a></div>');
                $newDom.removeAttr('id');
                $newDom.removeAttr('style');

                /**
                 * Her divin benzersiz olmasını sağlıyoruz, silebilmek için.
                 */
                $newDom.attr('id', number);


                /**
                 * Yaratılmış yeni element içerisinde seçilen koşula göre ona ait değerlerin gelmesini sağlıyoruz.
                 */
                $newDom.find('.dynamicTermSelect').attr('id', 'selectId'+number);
                $newDom.find('.dynamicTermSelect').attr('onChange', 'loadValues(selectId'+number+', divId'+number+')');

                $newDom.find('.dynamicTermValue').attr('id', 'divId'+number);

                $('#terms').append($newDom);
            });

        });

        function removeTerm(domId) {
            var confirmBox = confirm("{{ 'general.are_you_sure'|trans({}, 'AffiliateBundle') }}");
            if (confirmBox == true)
                $('#'+domId).remove();
        }

        function enableSelect(dom) {

            $.each($('.countrylist'), function(a,b) {
                if (!$(b).attr('id'))
                    $(b).select2();
            });

        }

        function loadValues(request, response) {
            var data = {'id': $(request).val()}
            $.ajax({
                type: "POST",
                url: "{{ path("ajax_get_term_values") }}",
                data: data,
                dataType: "json",
                success: function(returndata) {
                    $(response).html(returndata.valueDom);
                    if (returndata.type == 'country') {
                        enableSelect($(returndata.valueDom).eq(2));
                    }
                }
            });
        }

    </script>

{% endblock %}