{% extends "@Users/layout.html.twig" %}

{% block body %}

<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('reports_index') }}">{{ 'reports.menu_name'|trans({}, 'AppBundle') }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('reports_browse_search') }}">{{ 'reports.browser_search'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </div>

    <div class="row">

        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <!-- Begin: life time stats -->
                <div class="portlet">
                    <div class="portlet-title">
                    </div>
                    <div class="portlet-body">
                        <div class="table-container">
                            <table class="table table-striped table-bordered table-hover" id="reports_ajax">
                                <thead>
                                <tr role="row" class="heading">
                                    <th width="15%">
                                        {{ 'general.date' | trans({}, 'AppBundle') }}
                                    </th>
                                    <th width="15%">
                                        {{ 'reports.created_codes' | trans({}, 'AppBundle') }}
                                    </th>
                                    <th width="15%">
                                        {{ 'reports.campaigns' | trans({}, 'AppBundle') }}
                                    </th>
                                    <th width="10%">
                                        {{ 'reports.sites' | trans({}, 'AppBundle') }}
                                    </th>
                                    <th width="10%">
                                        {{ 'reports.content_types' | trans({}, 'AppBundle') }}
                                    </th>
                                    <th width="10%">
                                        {{ 'reports.contents' | trans({}, 'AppBundle') }}
                                    </th>
                                    <th width="10%">
                                        {{ 'general.action' | trans({}, 'AppBundle') }}
                                    </th>
                                </tr>
                                <tr role="row" class="filter">
                                    <td>
                                        <div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd" id="start_date">
                                            <input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
											<span class="input-group-btn">
											    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                        </div>
                                        <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" id="end_date">
                                            <input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
											<span class="input-group-btn">
											    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select multiple="multiple" name="user_campaigns[]" class="select2boxes form-filter form-control input-sm" style="width:180px;">
                                            {% for campaign in user_camps %}
                                                <option value="{{ campaign.id }}">{{ campaign.campName }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select multiple="multiple" name="campaigns[]" class="select2boxes form-filter form-control input-sm" style="width:180px;">
                                            {% for campaign in all_camps %}
                                                <option value="{{ campaign.id }}">{{ campaign.campName }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select multiple="multiple" name="sites[]" class="select2boxes form-filter form-control input-sm" style="width:120px;">
                                            {% for site in domains %}
                                                <option value="{{ site.id }}">{{ site.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select multiple="multiple" name="content_type[]" class="select2boxes form-filter form-control input-sm" style="width: 120px;">
                                            {% for type in content_types %}
                                                <option value="{{ type }}">{{ type|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select multiple="multiple" name="contents[]" class="select2Content form-filter form-control input-sm" style="width: 120px;">
                                            {% for cont in contents %}
                                                {% set contentSelf = cont.content %}
                                                {% if contentSelf.objectType == constant('AffiliateBundle\\Entity\\Content::TYPE_IMAGE') %}
                                                    <option value="{{ contentSelf.id }}" data-image="{{ contentSelf.objectUrl }}">{{ contentSelf.objectKey }}</option>
                                                {% elseif contentSelf.objectType == constant('AffiliateBundle\\Entity\\Content::TYPE_TEXT') %}
                                                    <option value="{{ contentSelf.id }}">{{ contentSelf.objectText }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <div class="margin-bottom-5">
                                            <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                                        </div>
                                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End: life time stats -->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

{% endblock %}

{% block extra_css %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/users/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/users/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block extra_js %}


    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.resize.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.categories.min.js") }}" type="text/javascript"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset('bundles/users/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>,
    <script type="text/javascript" src="{{ asset('bundles/users/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/users/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('bundles/users/assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ asset('bundles/users/assets/admin/pages/scripts/reports.js') }}"></script>

    <!-- END PAGE LEVEL SCRIPTS -->


    <script type="text/javascript">

        $(document).ready(function() {
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features

            $(".select2boxes").select2();

            $(".select2Content").select2({
                templateResult: formatState,
                templateSelection: formatState
            });

            function formatState (opt) {
                console.log(opt);
                if (!opt.id) {
                    return opt.text;
                }
                var optimage = $(opt.element).data('image');
                if(!optimage){
                    return opt.text;
                } else {
                    var $opt = $(
                            '<span><img src="' + optimage + '" width="23px" /> ' + opt.text + '</span>'
                    );
                    return $opt;
                }

            }


            var reports_url = '{{ path('reports_ajax_browse_search') }}';
            var options = {
                loadingMessage: '{{ 'general.loading' | trans({}, 'AppBundle') }}',
                dataTable: {
                    "language": {
                        "metronicAjaxRequestGeneralError": "{{ 'reports.error_report_not_get' | trans({}, 'AppBundle') }}"
                    }
                }
            };
            TableAjax.init(reports_url, options);
        });

    </script>
{% endblock %}