{% extends "@Users/layout.html.twig" %}

{% block body %}
    <div class="page-content">

        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('reports_index') }}">{{ 'reports.menu_name'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('reports_index') }}">{{ 'reports.summary'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">{{ 'general.last_month_stats'|trans({}, 'AppBundle') }}</span>
                            <span class="caption-helper">{{ 'general.click_view_stats'|trans({}, 'AppBundle') }}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <td>{{ 'user_campaign.name'|trans({}, 'AppBundle') }}</td>
                            <td>{{ 'user_campaign.publish_site' | trans({}, 'AppBundle') }}</td>
                            <td>{{ 'content.type' | trans({}, 'AppBundle') }}</td>
                            <td>{{ 'general.total_click' | trans({}, 'AppBundle') }}</td>
                            <td>{{ 'general.total_view' | trans({}, 'AppBundle') }}</td>
                            </thead>
                            <tbody>
                            {% for stat in general_stats %}
                                {% set userCamp = stat[0].uniqueId|get_entity_row('UsersBundle:UserCampaign', 'unique_id', stat[0].uniqueId) %}
                                <tr>
                                    <td><a href="{{ path('user_camp_my_camp_detail', { userCampaign: userCamp[0].id }) }}">{{ userCamp[0].campName }}</a></td>
                                    <td>{{ stat[0].siteId.name }}</td>
                                    <td>{{ userCamp[0].content.objectType }}</td>
                                    <td>{{ stat.totalClick }}</td>
                                    <td>{{ stat.totalView }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}


    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.resize.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.categories.min.js") }}" type="text/javascript"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('bundles/users/assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/users/assets/admin/layout/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/users/assets/admin/layout/scripts/quick-sidebar.js') }}" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Index.initCharts(); // init index page's custom scripts
        });

    </script>
{% endblock %}