{% extends "@Users/layout.html.twig" %}

{% block body %}

<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        {{ 'general.dashboard'|trans({}, 'AppBundle') }} <small>{{ 'general.report_stats' | trans({}, 'AppBundle') }}</small>
    </h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ camps }}
                    </div>
                    <div class="desc">
                        {{ 'user_campaign.my_created_camps' | trans({}, 'AppBundle') }}
                    </div>
                </div>
                <a href="{{ path('my_camp_list') }}" class="more">{{ 'general.viewmore' | trans({}, 'AppBundle') }}</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ activecamps }}
                    </div>
                    <div class="desc">
                        {{ 'user_campaign.active' | trans({}, 'AppBundle') }}
                    </div>
                </div>
                <a href="{{ path('my_camp_list') }}" class="more">{{ 'general.viewmore' | trans({}, 'AppBNundle') }}</a>
            </div>
        </div>
        </div>


        <div class="row">
            <div class="col-md-12">

                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">{{ 'general.last_month_stats'|trans({}, 'AppBundle') }}</span>
                            <span class="caption-helper">{{ 'general.click_view_stats'|trans({}, 'AppBundle') }}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <td>{{ 'user_campaign.name'|trans({}, 'AppBundle') }}</td>
                            <td>{{ 'user_campaign.publish_site' | trans({}, 'AppBundle') }}</td>
                            <td>{{ 'content.type' | trans({}, 'AppBundle') }}</td>
                            <td>{{ 'general.total_click' | trans({}, 'AppBundle') }}</td>
                            <td>{{ 'general.total_view' | trans({}, 'AppBundle') }}</td>
                            </thead>
                            <tbody>
                            {% for stat in general_stats %}
                                {% set userCamp = stat[0].uniqueId|get_entity_row('UsersBundle:UserCampaign', 'unique_id', stat[0].uniqueId) %}
                                <tr>
                                    <td><a href="{{ path('reports_detail', { userCampaign: userCamp[0].id }) }}">{{ userCamp[0].campName }}</a></td>
                                    <td>{{ stat[0].siteId.name }}</td>
                                    <td>{{ userCamp[0].content.objectType }}</td>
                                    <td>{{ stat.totalClick }}</td>
                                    <td>{{ stat.totalView }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}


    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.resize.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/users/assets/global/plugins/flot/jquery.flot.categories.min.js") }}" type="text/javascript"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('bundles/users/assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/users/assets/admin/layout/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/users/assets/admin/layout/scripts/quick-sidebar.js') }}" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Index.initCharts(); // init index page's custom scripts
        });

    </script>
{% endblock %}