{% extends "@Affiliate/layout.html.twig" %}

{% block title %}
    {{ 'content.add'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}

    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('content_add') }}">{{ 'campaign.add'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <h3 class="page-title">
            Destek Affiliate <small>{{ 'content.add'|trans({}, 'AppBundle') }}</small>
        </h3>

        <div class="row">
            <div class="col-md-12">

                <div class="portlet light bg-inverse">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">{{ 'content.add'|trans({}, 'AppBundle') }}</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!--
                            TODO: Flashdataları otomatik hale getirip, tek viewde ayarlıyalım.
                        -->
                        {% for flashMessage in app.session.flashbag.get('content_notice') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <!-- BEGIN FORM-->
                        <form action="{{ path('content_add') }}" method="post" enctype="multipart/form-data" class="horizontal-form">

                            {{ form_errors(form) }}


                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">{{ 'content.type'|trans({}, 'AppBundle') }}</label>
                                        <select class="form-control" name="ctype" id="content_type">
                                            <option selected value="file">Image Jpeg/Png - Video etc.</option>
                                            <option value="text">Text String</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="objectFile">
                                            <label class="control-label">{{ 'content.file'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.objectKey, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block"> {{ 'content.file_help'|trans({}, 'AppBundle') }} </span>
                                        </div>
                                        <div class="form-group" id="objectText">
                                            <label class="control-label">{{ 'content.name'|trans({}, 'AppBundle') }}</label>
                                            {{ form_widget(form.objectText, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block"> {{ 'content.text_help'|trans({}, 'AppBundle') }} </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions left">
                                <button type="button" class="btn default">{{ 'general.cancel'|trans({}, 'AppBundle') }}</button>
                                <button type="submit" class="btn blue"><i class="fa fa-check"></i> {{ 'general.save'|trans({}, 'AppBundle') }}</button>
                            </div>
                            {{ form_row(form._token) }}
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>


            </div>
        </div>


    </div>


{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/css/multi-select.css") }}"/>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-dropdowns.js") }}"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script>
        jQuery(document).ready(function() {
            ComponentsDropdowns.init();

            $('#objectText').hide();
            $('#objectText').val('');


            $('#content_type').change(function() {
                var objtype = $(this).val();
                if (objtype == 'file') {
                    $('#objectText').hide();
                    $('#objectFile').show();
                    $('#objectText').val('');
                } else {
                    $('#objectText').show();
                    $('#objectFile').hide();
                    $('#objectText').val('');
                }
            })

        });



    </script>

{% endblock %}