{% extends "AffiliateBundle::layout.html.twig" %}

{% block title %}
    {{ 'content.list'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('contents') }}">{{ 'content.list'|trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <h3 class="page-title">
            Destek Affiliate <small>{{ 'content.list'|trans({}, 'AppBundle') }}</small>
        </h3>

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>{{ 'content.list'|trans({}, 'AppBundle') }}
                        </div>

                    </div>
                    <div class="portlet-body">
                        {% for flashMessage in app.session.flashbag.get('content_notice') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#tab_1_1_1" data-toggle="tab" aria-expanded="true">
                                        <b>{{ 'content.image_types'|trans({}, 'AppBundle') }} </b></a>
                                </li>
                                <li class="">
                                    <a href="#tab_1_1_2" data-toggle="tab" aria-expanded="false">
                                        <b>{{ 'content.text_types'|trans({}, 'AppBundle') }} </b></a>
                                </li>
                                <li class="">
                                    <a href="#tab_1_1_3" data-toggle="tab" aria-expanded="false">
                                        <b>{{ 'content.video_types'|trans({}, 'AppBundle') }} </b></a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1_1">
                                    <table class="table table-striped table-bordered table-hover" id="sample_6">
                                        <thead>
                                        <tr>
                                            <th>{{ 'content.name'|trans({}, 'AppBundle') }}</th>
                                            <th>{{ 'content.object_url'|trans({}, 'AppBundle') }}</th>
                                            <th>{{ 'content.type'|trans({}, 'AppBundle') }}</th>
                                            <th>{{ 'general.delete'|trans({}, 'AppBundle') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in image_contents %}
                                            <tr>
                                                <td>{{ content.objectKey }}</td>
                                                <td><a target="_blank" href="{{ content.objectUrl }}">{{ content.objectUrl }}</a></td>
                                                <td><span class="label label-primary"><b>{{ content.objectType }}</b></span></td>
                                                <td align="center"><a href="{{ path("content_delete", { 'content': content.id }) }}" class="btn red btn-xs" data-toggle="confirmation" data-title="{{ 'general.areyousure'|trans({}, 'AppBundle') }}" data-popout="true" data-placement="top"><i class="glyphicon glyphicon-remove"></i> </a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_1_1_2">
                                    <table class="table table-striped table-bordered table-hover defaultListTable">
                                        <thead>
                                        <tr>
                                            <th>{{ 'content.text_name'|trans({}, 'AppBundle') }}</th>
                                            <th>{{ 'content.type'|trans({}, 'AppBundle') }}</th>
                                            <th>{{ 'general.delete'|trans({}, 'AppBundle') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in text_contents %}
                                            <tr>
                                                <td>{{ content.objectText }}</td>
                                                <td><span class="label label-primary"><b>{{ content.objectType }}</b></span></td>
                                                <td align="center"><a href="{{ path("content_delete", { 'content': content.id }) }}" class="btn red btn-xs" data-toggle="confirmation" data-title="{{ 'general.areyousure'|trans({}, 'AppBundle') }}" data-popout="true" data-placement="top"><i class="glyphicon glyphicon-remove"></i> </a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_1_1_3">
                                    <table class="table table-striped table-bordered table-hover" id="videoListTable">
                                        <thead>
                                        <tr>
                                            <th>{{ 'content.text_name'|trans({}, 'AppBundle') }}</th>
                                            <th>{{ 'content.type'|trans({}, 'AppBundle') }}</th>
                                            <th>{{ 'general.delete'|trans({}, 'AppBundle') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in video_contents %}
                                            <tr>
                                                <td>{{ content.objectText }}</td>
                                                <td><span class="label label-primary"><b>{{ content.objectType }}</b></span></td>
                                                <td align="center"><a href="{{ path("content_delete", { 'content': content.id }) }}" class="btn red btn-xs" data-toggle="confirmation" data-title="{{ 'general.areyousure'|trans({}, 'AppBundle') }}" data-popout="true" data-placement="top"><i class="glyphicon glyphicon-remove"></i> </a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css") }}"/>
{% endblock %}

{% block extra_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js") }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/table-advanced.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script>
        jQuery(document).ready(function() {
            TableAdvanced.init();
            UIConfirmations.init();
        });
    </script>
{% endblock %}