{% extends "UsersBundle::layout.html.twig" %}

{% block title %}
{{ 'campaign.list'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}
<div class="page-content">



    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a>{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('all_camp_list') }}">{{ 'campaign.list'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </div>

    <h3 class="page-title">
        Destek Affiliate <small>{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</small>
    </h3>


    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>{{ 'campaign.list'|trans({}, 'AppBundle') }}
                    </div>

                </div>
                <div class="portlet-body">
                    {% for flashMessage in app.session.flashbag.get('campaign_notice') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                    {% endfor %}
                    <table class="table table-striped table-bordered table-hover" id="sample_6">
                        <thead>
                        <tr>
                            <th>{{ 'campaign.name'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'campaign.landing_url'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'campaign.description'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'campaign.start_date'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'campaign.end_date'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'general.detail'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'user_campaign.code_create'|trans({}, 'AppBundle') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for campaign in campaigns %}
                        <tr>
                            <td>{{ campaign.getCampName() }}</td>
                            <td>
                                <a  target="_blank"  href="{{ campaign.getLandingUrl() }}">

                                    {{ campaign.getLandingUrl() }}  <i class="fa fa-external-link"></i>
                                </a>
                            </td>
                            <td>{{ campaign.getDescription() }}</td>
                            {% if campaign.startDate is null %}
                                <td></td>
                            {% else %}
                                <td>{{ campaign.startDate.format('Y-m-d') }}</td>
                            {% endif %}

                            {% if campaign.endDate is null %}
                                <td></td>
                            {% else %}
                                <td>{{ campaign.endDate.format('Y-m-d') }}</td>
                            {% endif %}
                            <td><a href="{{ path('user_camp_detail', {'campaign': campaign.id}) }}"><i class="fa fa-cogs"></i></a></td>
                            <td style="text-align: center;"><a href="{{ path('user_camp_add', {'campaign': campaign.id}) }}"><i class="icon-plus"></i></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
{% endblock %}