{% extends "UsersBundle::layout.html.twig" %}

{% block title %}
    {{ 'campaign.detail'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}

    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('all_camp_list') }}">{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ campaign.campName ~ ' ' ~ 'user_campaign.camp_detail'|trans({}, 'AppBundle') }}
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list-ul"></i> {{ 'campaign.info' | trans({}, 'AppBundle') }}
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label bold">{{ 'campaign.name'|trans({}, 'AppBundle') }}</label> : <br/>
                                    {{ campaign.campName }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label bold">{{ 'campaign.description'|trans({}, 'AppBundle') }}</label> : <br/>
                                    {{ campaign.description }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label bold">{{ 'campaign.landing_url'|trans({}, 'AppBundle') }}</label> : <br/>
                                    <a target="_blank"  href="{{ campaign.landingUrl }}">{{ campaign.landingUrl }} <i class="fa fa-external-link"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label bold">{{ 'campaign.start_date'|trans({}, 'AppBundle') }}</label> : <br/>
                                    <div>
                                        {% if campaign.startDate is null %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ campaign.startDate.format('Y-m-d H:i') }}</td>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label bold">{{ 'campaign.end_date'|trans({}, 'AppBundle') }}</label> : <br/>
                                    <div>
                                        {% if campaign.endDate is null %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ campaign.endDate.format('Y-m-d H:i') }}</td>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-money"></i> {{ 'commission.list' | trans({}, 'AppBundle') }}
                        </div>
                    </div>
                    <div class="portlet-body">
                        {{ 'campaign.commissions'|trans({}, 'AppBundle') }}
                        <br><br>
                        {% for commission in commissions %}
                            <b>{{ commission.getComName() }} :</b>
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <th>{{ 'terms.name'|trans({}, 'AppBundle') }}</th>
                                    <th>{{ 'terms.term_op'|trans({}, 'AppBundle') }}</th>
                                    <th>{{ 'terms.values'|trans({}, 'AppBundle') }}</th>
                                </thead>
                                <tbody>
                                {% for term in terms %}
                                    <tr>
                                        <td>{{ term.termId }}</td>
                                        <td style="text-align: center">
                                            {% set arrTerm = term.termValues|json_decode %}
                                            {% if arrTerm.op_type is defined %}
                                                {% set termOp = arrTerm.op_type|get_entity_row('AffiliateBundle:TermsOps', 'id', arrTerm.op_type) %}
                                                {% if termOp|length > 0 %}
                                                    {{ termOp[0].value }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        {% if term.termId.getTermType == 'country' %}
                                            <td>
                                                {% set values = term.termValues(true)|split(',') %}
                                                {% for country in values %}
                                                    {#
                                                        countryName'den sonra gelen if kısmını alt satıra koyunca arada 1 boşluk bırakıyordu.
                                                        Virgül ile ondan yanına taşıdım. String concate'de yapılabilir.
                                                    #}
                                                    {{ country|trim|countryName }}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            </td>
                                        {% else %}
                                            <td>{{ term.termValues(true) }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>{{ 'content.list'|trans({}, 'AppBundle') }}
                        </div>

                    </div>
                    <div class="portlet-body">
                        {% for flashMessage in app.session.flashbag.get('campaigncontent_notice') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                            <hr />
                        {% endfor %}


                        <h4>{{ 'campaign_content.related_contents'|trans({}, 'AppBundle') }}</h4>
                        <div class="row">
                        <div class="col-md-12">
                            {% for content in contents %}
                                {% if content.contentId.objectType == constant('AffiliateBundle\\Entity\\Content::TYPE_IMAGE') %}

                                    <div class="thumbnail campdetailimg">
                                        <div class="campdetailimgover">
                                        <img  src="{{ content.contentId.objectUrl }}" alt="{{ content.contentId.objectKey }}" style="display: block;" data-src="{{ content.contentId.objectUrl }}">
                                        </div>

                                    </div>

                                {%  endif %}
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/css/multi-select.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") }}"/>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-dropdowns.js") }}"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/jquery.pulsate.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/holder.js") }}" type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") }}"></script>

    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-general.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-pickers.js") }}"></script>
    <script>
        jQuery(document).ready(function() {
            UIGeneral.init();
            ComponentsDropdowns.init();
            ComponentsPickers.init();
        });
    </script>
{% endblock %}