{% extends "UsersBundle::layout.html.twig" %}

{% block title %}
    {{ 'campaign.detail'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}

    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('user_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('my_camp_list') }}">{{ 'user_campaign.created_codes'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ usercamp.campName }}
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list-ul"></i> {{ 'user_campaign.created_camp_detail' | trans({}, 'AppBundle') }}
                        </div>
                    </div>
                    <div class="portlet-body form ">
                        <form method="post" action="{{ path('user_camp_my_camp_detail', {"userCampaign": usercamp.id}) }}">
                            <div class="campaingdetailform form-body">


                                        <div class="row">
                                        <div class="col-md-5 brdrlr ">




                                                <div class="form-group">
                                                    <label class="required">{{ form_label(form.campName) }}</label>
                                                    {{ form_widget(form.campName, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="help-block"> {{ 'general.changeable'|trans({}, 'AppBundle') }} </span>
                                                </div>



                                                <div class="form-group">
                                                    <label class="required">{{ form_label(form.createdAt) }}</label>
                                                    {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="help-block"> {{ 'general.unchangeable'|trans({}, 'AppBundle') }} </span>
                                                </div>


                                                <div class="form-group">
                                                    <label class="required">{{ form_label(form.scriptCode) }}</label>
                                                    <div style="clear:both"></div>
                                                    <textarea id="" cols="40" class="form-control" rows="3">{{ usercamp.scriptCode }}</textarea>
                                                    <span class="help-block"> {{ 'general.unchangeable'|trans({}, 'AppBundle') }} </span>
                                                </div>

                                                <div class="form-group">
                                                {{ form_row(form._token) }}
                                                <input type="submit" class="btn btn-success" value="{{ 'general.save' | trans({}, 'AppBundle') }}">
                                                </div>



                                            </div>
                                             <div class="col-md-4 ">
                                                <ul class="campainglistul">
                                                <li>
                                                    <label for="" class="required">{{ 'user_campaign.real_name' | trans({}, 'AppBundle') }}</label>
                                                    {{ usercamp.campaign.campName }}
                                                </li>

                                                <li>
                                                    <label for="" class="required">{{ 'user_campaign.real_desc' | trans({}, 'AppBundle') }}</label>
                                                    {{ usercamp.campaign.description }}
                                                </li>


                                                <li>
                                                   <label class="required">{{ 'user_campaign.camp_real_start_date' | trans({}, 'AppBundle') }}</label>
                                                    {% if usercamp.campaign.startDate is not null %}
                                                        {{ usercamp.campaign.startDate.format("Y-m-d H:i") }}
                                                    {% endif %}
                                                </li>

                                                <li >
                                                  <label class="required">{{ 'user_campaign.camp_real_end_date' | trans({}, 'AppBundle') }}</label>
                                                    {% if usercamp.campaign.endDate is not null %}
                                                        {{ usercamp.campaign.endDate.format("Y-m-d H:i") }}
                                                    {% else %}
                                                        {{ 'user_campaign.camp_no_end_date' | trans({}, 'AppBundle') }}
                                                    {% endif %}
                                                </li>


                                                <li >
                                                    <label for="" class="required">{{ 'user_campaign.selected_domain' | trans({}, 'AppBundle') }}</label>
                                                    <a href="{{ usercamp.domain.name }}">{{ usercamp.domain.name }}</a>
                                                </li>
                                                </ul>


                                            </div>



                                            <div class="col-md-3">
                                                <div class="form-group">
                                                <label class="control-label"><label for="" class="required">{{ 'user_campaign.selected_content' | trans({}, 'AppBundle') }}</label></label>
                                                <div id="htmlCode" style="width: 200px; height: 200px;"><script>{{ usercamp.htmlCode|raw }}</script></div>
                                                </div>
                                            </div>

                                         </div>




                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/css/multi-select.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") }}"/>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-select/bootstrap-select.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-dropdowns.js") }}"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/jquery.pulsate.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/holder.js") }}" type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") }}"></script>

    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-general.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/components-pickers.js") }}"></script>
    <script>
        jQuery(document).ready(function() {
            UIGeneral.init();
            ComponentsDropdowns.init();
            ComponentsPickers.init();

            $("#htmlCode *").attr("width", "100%").attr("height", "100%");
        });
    </script>
{% endblock %}