{% extends "UsersBundle::layout.html.twig" %}

{% block title %}
{{ 'campaign.list'|trans({}, 'AppBundle') }}
{% endblock %}

{% block body %}
<div class="page-content">

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('user_home') }}">{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('my_camp_list') }}">{{ 'user_campaign.created_codes'|trans({}, 'AppBundle') }}</a>
            </li>
        </ul>
    </div>

    <h3 class="page-title">
        Destek Affiliate <small>{{ 'campaign.menu_name'|trans({}, 'AppBundle') }}</small>
    </h3>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>{{ 'campaign.list'|trans({}, 'AppBundle') }}
                    </div>

                </div>
                <div class="portlet-body">
                    {% for flashMessage in app.session.flashbag.get('campaign_notice') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                    {% endfor %}
                    <table class="table table-striped table-bordered table-hover" id="sample_6">
                        <thead>
                        <tr>
                            <th>{{ 'user_campaign.created_date'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'user_campaign.publish_site'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'user_campaign.name'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'user_campaign.camp_real_end_date'|trans({}, 'AppBundle') }}</th>
                            <th>{{ 'general.detail'|trans({}, 'AppBundle') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usercamp in usercamps %}
                            <tr>
                                <td>{{ usercamp.createdAt.format('Y-m-d H:i') }}</td>
                                <td><a href="//{{ usercamp.domain.getName }}">{{ usercamp.domain.getName }}</a></td>
                                <td>{{ usercamp.campName }}</td>
                                {% if usercamp.campaign.endDate is null %}
                                    <td><span>{{ 'user_campaign.camp_no_end_date'|trans({},'AppBundle') }}</span></td>
                                {% else %}
                                    <td>{{ usercamp.campaign.endDate.format('Y-m-d') }}</td>
                                {% endif %}
                                <td><a href="{{ path('user_camp_my_camp_detail', {'userCampaign': usercamp.id}) }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css") }}"/>
{% endblock %}

{% block extra_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/affiliate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js") }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/table-advanced.js") }}"></script>
    <script src="{{ asset("bundles/affiliate/assets/admin/pages/scripts/ui-confirmations.js") }}"></script>
    <script>
        jQuery(document).ready(function() {
            TableAdvanced.init();
            UIConfirmations.init();
        });
    </script>
{% endblock %}