{% extends 'UsersBundle::layout.html.twig' %}

{% block title %}
    {{ 'campaign.step2_title'|trans({"%campname%":campaign.campName, "%type%": contents[0].con_objectType}, 'AppBundle') | raw }}
{% endblock %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('all_camp_list') }}">{{ 'campaign.all_camps'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ campaign.campName }}
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ 'user_campaign.code_create'|trans({}, 'AppBundle') }}
                    {{ 'user_campaign.step_two'|trans({}, 'AppBundle') }}
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            {{ 'campaign.step2_title'|trans({"%campname%":campaign.campName, "%type%": contents[0].con_objectType}, 'AppBundle') | raw }}
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="desc" style="margin-bottom: 15px;">
                                    {{ 'campaign.step2_image_desc'|trans({},'AppBundle') | raw }}
                                    <form method="POST" action="{{ path('user_camp_add_content_select', {"type": type}) }}">
                                        {% for content in contents %}
                                            <div style="float: left; width: 260px; margin: 10px;">
                                                <img width="250" height="250" src="{{ content.con_objectUrl }}" alt="{{ content.con_objectKey }}" style="display: block;" data-src="{{ content.con_objectUrl }}">
                                                <input type="radio" id="content{{ content.con_id }}" name="content" class="toggle" value="{{ content.con_id }}">
                                                <label for="content{{ content.con_id }}">{{ 'content.select'|trans({}, 'AppBundle') }}</label>
                                            </div>
                                        {% endfor %}
                                        <div style="clear: both"></div>
                                        <button type="submit" class="btn blue">{{ 'campaign.step2_submit'|trans({}, 'AppBundle') }}</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}