{% extends 'UsersBundle::layout.html.twig' %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('all_camp_list') }}">{{ 'campaign.all_camps'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ campaign.campName }}
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ 'user_campaign.code_create'|trans({}, 'AppBundle') }}
                    {{ 'user_campaign.step_last'|trans({}, 'AppBundle') }}
                </li>
            </ul>
        </div>

        <form method="POST" action="{{ path('user_camp_create_code') }}">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box green-haze">
                        <div class="portlet-title">
                            <div class="caption">
                                {{ 'user_campaign.camp_detail'|trans({},'AppBundle') }}
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-6">
                                    <label style="font-weight: bold">{{ 'campaign.name'|trans({},'AppBundle') }} : </label>
                                    <span style="color: #aa0300;">{{ campaign.getCampName }}</span>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-6">
                                    <label style="font-weight: bold">{{ 'user_campaign.camp_real_start_date'|trans({}, 'AppBundle') }} : </label>
                                    {% if campaign.startDate is not null %}
                                        <span style="color: #aa0300;">{{ campaign.startDate.format('Y-m-d H:i') }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: bold">{{ 'user_campaign.camp_real_end_date'|trans({}, 'AppBundle') }} : </label>
                                    {% if campaign.getEndDate is null %}
                                        <span>{{ 'user_campaign.camp_no_end_date'|trans({},'AppBundle') }}</span>
                                    {% else %}
                                        <span style="color: #aa0300;">{{ campaign.getEndDate.format('Y-m-d H:i') }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            {{ 'user_campaign.created_camp_content_detail'|trans({},'AppBundle') }}
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">

                            <div class="col-md-6">
                                <label style="font-weight: bold">{{ 'campaign.selected_type_header'|trans({"%type%": content.getObjectType},'AppBundle') }} : </label>
                                {% if content.getObjectType == constant('AffiliateBundle\\Entity\\Content::TYPE_IMAGE') %}
                                    <img width="250" height="250" src="{{ content.getObjectUrl }}" alt="{{ content.getObjectKey }}" style="display: block;" data-src="{{ content.getObjectUrl }}">
                                {% elseif(content.getObjectType == constant('AffiliateBundle\\Entity\\Content::TYPE_TEXT')) %}
                                    <span style="color: #aa0300;">{{ content.getObjectText }}</span>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: bold">{{ 'user_campaign.domain_select'|trans({}, 'AppBundle') }} : </label>
                                <table>
                                    {% for domain in domains %}
                                        <tr>
                                            <td><input type="radio" id="domain{{ domain.id }}" name="domain" class="toggle" value="{{ domain.id }}"></td>
                                            <td>
                                                <div style="margin-left: 10px;">
                                                    {{ domain.name }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <div style="clear: both; margin-top: 15px;"></div>
                                <div>
                                    <label style="font-weight: bold">{{ 'user_campaign.set_name'|trans({}, 'AppBundle') }} : </label>
                                    <div class="form-group form-md-line-input has-info">
                                        <input type="text" class="form-control" name="camp_name" id="form_control_1" placeholder="{{ 'campaign.name'|trans({}, 'AppBundle') }}">
                                        <label for="form_control_1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        {{ 'general.attention' | trans({}, 'AppBundle') }}
                                    </div>
                                    <div class="panel-body">
                                        {{ 'user_campaign.last_stage' | trans({}, 'AppBundle') }}
                                    </div>
                                </div>
                                <button onclick="window.history.back();" class="btn blue" style="float: left; margin-top:10px;">{{ 'general.back'|trans({}, 'AppBundle') }}</button>
                                <button type="submit" class="btn blue" style="float: right; margin-top:10px;">{{ 'campaign.step3_submit'|trans({}, 'AppBundle') }}</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
{% endblock %}