{% extends 'UsersBundle::layout.html.twig' %}

{% block title %}
    {{ 'campaign.step1_title'|trans({"%campname%":campaign.campName}, 'AppBundle') }}
{% endblock %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('all_camp_list') }}">{{ 'campaign.all_camps'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ campaign.campName }}
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ 'user_campaign.code_create'|trans({}, 'AppBundle') }}
                    {{ 'user_campaign.step_one'|trans({}, 'AppBundle') }}
                </li>
            </ul>
        </div>

        <h3 class="page-title">
            {{ 'campaign.step1_icerik_tipi_secimi'| trans({ '%campname%': campaign.campName}, 'AppBundle') | raw }}
        </h3>

    <div class="row">
        <div class="col-md-4">
            <div class="campaing_box">
               {% set link = path('user_camp_add_content_select', {"type": constant('AffiliateBundle\\Entity\\Content::TYPE_TEXT')}) %}
               <a href="{{link}}">
                   <img style="width:100px;" src="{{ asset("bundles/users/assets/admin/layout/img/note.png") }}" />
                   <h2>YAZI REKLAM MATERYALİ</h2>
                   <p>Test İçerik yazısı buraya geliyor şimdi, güzel uzun yazı lazım şimdi buraya yoksa küçük bir yazıyla çok hoş durmaz</p>
               </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="campaing_box">
                {% set link = path('user_camp_add_content_select', {"type": constant('AffiliateBundle\\Entity\\Content::TYPE_IMAGE')}) %}
                <a href="{{link}}">
                    <img style="width:100px;" src="{{ asset("bundles/users/assets/admin/layout/img/images-interface-symbol.png") }}" />
                    <h2>RESİM REKLAM MATERYALİ</h2>
                    <p>Test İçerik yazısı buraya geliyor şimdi, güzel uzun yazı lazım şimdi buraya yoksa küçük bir yazıyla çok hoş durmaz</p>
                </a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="campaing_box">
                {% set link = path('user_camp_add_content_select', {"type": constant('AffiliateBundle\\Entity\\Content::TYPE_VIDEO')}) %}
                <a href="{{link}}">
                    <img style="width:100px;" src="{{ asset("bundles/users/assets/admin/layout/img/video-file-list.png") }}" />
                    <h2>VİDEO REKLAM MATERYALİ</h2>
                    <p>Test İçerik yazısı buraya geliyor şimdi, güzel uzun yazı lazım şimdi buraya yoksa küçük bir yazıyla çok hoş durmaz</p>
                </a>
            </div>
        </div>
    </div>



    </div>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/users/assets/global/plugins/bootstrap-toastr/toastr.min.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/users/assets/global/plugins/bootstrap-toastr/toastr.min.js') }}"></script>
    <script type="text/javascript">

        $(document).on("ready", function () {

            // İhtiyaca göre editledim.
            var UIToastr = function () {

                return {
                    init: function () {

                        var user_notice = {% if app.session.flashBag.has('notice') %}true{% else %}false{% endif %};

                        if(user_notice){
                            var shortCutFunction = "warning";
                            var msg = '{% if app.session.flashBag.has('notice') %} {{ app.session.flashBag.get('notice')[0] | raw }} {% endif %}';
                            var title = "{{ 'general.msg_warning' | trans({}, 'AppBundle') }}";
                            var showDuration = 1000;
                            var hideDuration = 1000;
                            var timeOut = 5000;
                            var extendedTimeOut = 1000;
                            var showEasing = "swing";
                            var hideEasing = "linear";
                            var showMethod = "fadeIn";
                            var hideMethod = "fadeOut";

                            toastr.options = {
                                closeButton: true,
                                debug: false,
                                positionClass: 'toast-top-right',
                                onclick: null,
                                showDuration: showDuration,
                                hideDuration: hideDuration,
                                timeOut: timeOut,
                                extendedTimeOut: extendedTimeOut,
                                showEasing: showEasing,
                                hideEasing: hideEasing,
                                showMethod: showMethod,
                                hideMethod: hideMethod
                            };
                            toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                        }
                    }

                };

            }();

            UIToastr.init();
        });
    </script>
{% endblock %}