{% extends 'UsersBundle::layout.html.twig' %}

{% block title %}
    {{ 'campaign.step2_title'|trans({"%campname%":campaign.campName, "%type%": contents[0].con_objectType}, 'AppBundle') | raw }}
{% endblock %}

{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('all_camp_list') }}">{{ 'campaign.all_camps'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ campaign.campName }}
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    {{ 'user_campaign.code_create'|trans({}, 'AppBundle') }}
                    {{ 'user_campaign.step_two'|trans({}, 'AppBundle') }}
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            {{ 'campaign.step2_title'|trans({"%campname%":campaign.campName, "%type%": contents[0].con_objectType}, 'AppBundle') | raw }}
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="desc" style="margin-bottom: 15px;">
                                    {{ 'campaign.step2_text_desc'|trans({},'AppBundle') | raw }}
                                    <form method="POST">
                                        <div class="campaingtextlist">
                                        {% for content in contents %}
                                            <div class="campaingtext">

                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <input type="radio" id="content{{ content.con_id }}" name="content" class="toggle" value="{{ content.con_id }}" />
                                                        </div>
                                                        <div class="col-md-11">
                                                            <label for="content{{ content.con_id }}">
                                                            <h4>{{ content.con_objectText }}</h4>
                                                            </label>
                                                        </div>
                                                    </div>




                                            </div>
                                        {% endfor %}
                                        </div>

                                        <div style="clear: both"></div>
                                        <button type="submit" class="btn blue">{{ 'campaign.step2_submit'|trans({}, 'AppBundle') }}</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}