{% extends 'UsersBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}
{% block body %}
    <div class="page-content">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{{ path('user_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('fos_user_change_password') }}">{{ 'profile.change_pass' | trans({}, 'AppBundle') }}</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-9">
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
                    {{ form_row(form.current_password) }}
                    {{ form_row(form.plainPassword) }}
                    <div>
                        <input type="submit" class="btn btn-sm blue pull-right" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}