{% extends "@Users/Security/login_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<!-- BEGIN LOGIN -->
<div class="content">
    {% include "UsersBundle:Registration:register_content.html.twig" %}

</div>
<div class="copyright">
    2014 © Metronic. Admin Dashboard Template.
</div>
<!-- END LOGIN -->
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/users/assets/global/plugins/select2/select2.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/users/assets/global/plugins/bootstrap-select/bootstrap-select.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/users/assets/global/plugins/jquery-multi-select/css/multi-select.css") }}"/>
{% endblock %}

{% block javascripts %}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/users/assets/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/users/assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/users/assets/global/plugins/jquery-migrate.min.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{ asset("bundles/users/assets/global/plugins/bootstrap/js/bootstrap.min.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/global/plugins/jquery.blockui.min.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/global/plugins/jquery.cokie.min.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/global/plugins/uniform/jquery.uniform.min.js") }}" type="text/javascript"></script>

<script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/select2/select2.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/bootstrap-select/bootstrap-select.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/users/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js") }}"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset("bundles/users/assets/global/plugins/jquery-validation/js/jquery.validate.min.js") }}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset("bundles/users/assets/global/scripts/metronic.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/admin/layout/scripts/layout.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/admin/pages/scripts/login.js") }}" type="text/javascript"></script>
<script src="{{ asset("bundles/users/assets/admin/pages/scripts/components-dropdowns.js") }}"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Login.init();
        ComponentsDropdowns.init();
    });
</script>


<script>
    $(document).ready(function() {
        $('#affiliate_user_registration_country').val("TR");
        $('#affiliate_user_registration_city').val("1");
        $('#affiliate_user_registration_country').change(function() {
            var val = $(this).val();

            if (val == 'TR') {
                $('#affiliate_user_registration_city').removeAttr('disabled');
            } else {
                $('#affiliate_user_registration_city').attr('disabled', true);
            }
        });


        // Pane Select

        // Start Person Selected
        $('.company-group').hide();


        $('.personPane').click(function() {
            $('.company-group').hide();
            $('.person-group').show();
        });

        $('.companyPane').click(function() {
            $('.company-group').show();
            $('.person-group').hide();
        });
    });
</script>

<!-- END JAVASCRIPTS -->

{% endblock %}
