
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" method="post" class="fos_user_registration_register">

    {% for flashMessage in app.session.flashbag.get('users_registration_fail') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row" style="text-align: center;">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn red active personPane" style="font-size: 20px">
                <input type="radio" class="toggle"> Şahıs</label>
            <label class="btn blue companyPane" style="font-size: 20px">
                <input type="radio" class="toggle"> Şirket </label>
        </div>
    </div>

    <div class="person-group">
    {{ form_row(form.tc) }} <br />
    </div>

    <div class="company-group">
    {{ form_row(form.taxNo) }} <br />

    {{ form_row(form.taxAdmin) }} <br />
    </div>

    {{ form_row(form.fullName) }} <br />

    {{ form_row(form.email) }} <br />

    {{ form_row(form.phone) }} <br />

    {{ form_row(form.country) }} <br />

    {{ form_row(form.city) }} <br />

    {{ form_row(form.address) }} <br />

    {{ form_row(form.domains) }} <br />

    <br />
    {{ form_row(form.plainPassword) }} <br />



    <div>
        <input type="submit" class="btn btn-primary btn-block" value="{{ 'registration.submit'|trans }}" />
    </div>

    {{ form_row(form._token) }}
</form>

