{% extends "@Affiliate/layout.html.twig" %}

{% block body %}


            <div class="page-content">

                <!-- BEGIN PAGE HEADER-->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{{ path('admin_home') }}">{{ 'general.home'|trans({}, 'AppBundle') }}</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{{ path('admin_home') }}">{{ 'general.dashboard'|trans({}, 'AppBundle') }}</a>
                        </li>
                    </ul>
                </div>
                <h3 class="page-title">
                    {{ 'general.dashboard'|trans({}, 'AppBundle') }} <small>reports & statistics</small>
                </h3>
                <!-- END PAGE HEADER-->
                <!-- BEGIN DASHBOARD STATS -->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{ totalCampaign }}
                                </div>
                                <div class="desc">
                                    {{ 'campaign.list'|trans({}, 'AppBundle') }}
                                </div>
                            </div>
                            <a class="more" href="{{ path("campaign_list") }}">
                                {{ 'general.viewmore'|trans({}, 'AppBundle') }} <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="dashboard-stat red-intense">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{ totalUsers }}
                                </div>
                                <div class="desc">
                                    {{ 'general.totalaffiliate'|trans({}, 'AppBundle') }}
                                </div>
                            </div>
                            <a class="more" href="{{ path("users") }}">
                                {{ 'general.viewmore'|trans({}, 'AppBundle') }} <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="dashboard-stat green-haze">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{ totalContent }}
                                </div>
                                <div class="desc">
                                    {{ 'content.menu_list'|trans({}, 'AppBundle') }}
                                </div>
                            </div>
                            <a class="more" href="{{ path("contents") }}">
                                {{ 'general.viewmore'|trans({}, 'AppBundle') }} <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-sharp hide"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">{{ 'general.user_statistics'|trans({}, 'AppBundle') }}</span>
                                    <span class="caption-helper">{{ 'general.weekly'|trans({}, 'AppBundle') }}</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="site_statistics_loading">
                                    <img src="{{ asset("bundles/affiliate/assets/admin/layout/img/loading.gif") }}" alt="loading"/>
                                </div>
                                <div id="site_statistics_content" class="display-none">
                                    <div id="site_statistics" class="chart">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                </div>

                <!-- END DASHBOARD STATS -->
                <div class="clearfix">
                </div>

            </div>
        </div>
        <!-- END CONTENT -->


    <!-- END CONTAINER -->
    
    
    
{% endblock %}

{% block javascripts %}


    <script src="{{ asset("bundles/affiliate/assets/global/plugins/flot/jquery.flot.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/flot/jquery.flot.resize.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/affiliate/assets/global/plugins/flot/jquery.flot.categories.min.js") }}" type="text/javascript"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('bundles/affiliate/assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/affiliate/assets/admin/layout/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/affiliate/assets/admin/layout/scripts/quick-sidebar.js') }}" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Index.initCharts(); // init index page's custom scripts
        });


        function showChartTooltip(x, y, xValue, yValue) {
            $('<div id="tooltip" class="chart-tooltip">' + yValue + '<\/div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 40,
                left: x - 40,
                border: '0px solid #ccc',
                padding: '2px 6px',
                'background-color': '#fff'
            }).appendTo("body").fadeIn(200);
        }


        var i = 0;
        var visitors = [
            {% for stat in usersByDay %}
                {% if loop.last == true %}
                    ['{{ stat.registerDate }}', {{ stat.counted }}]
                {% else %}
                    ['{{ stat.registerDate }}', {{ stat.counted }}],
                {% endif %}
            {% endfor %}
        ];


        if ($('#site_statistics').size() != 0) {

            $('#site_statistics_loading').hide();
            $('#site_statistics_content').show();

            var plot_statistics = $.plot($("#site_statistics"),
                    [{
                        data: visitors,
                        lines: {
                            fill: 0.6,
                            lineWidth: 0
                        },
                        color: ['#f89f9f']
                    }, {
                        data: visitors,
                        points: {
                            show: true,
                            fill: true,
                            radius: 5,
                            fillColor: "#f89f9f",
                            lineWidth: 3
                        },
                        color: '#fff',
                        shadowSize: 0
                    }],

                    {
                        xaxis: {
                            tickLength: 0,
                            tickDecimals: 0,
                            mode: "categories",
                            min: 0,
                            font: {
                                lineHeight: 14,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        yaxis: {
                            ticks: 5,
                            tickDecimals: 0,
                            tickColor: "#eee",
                            font: {
                                lineHeight: 14,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#eee",
                            borderColor: "#eee",
                            borderWidth: 1
                        }
                    });

            var previousPoint = null;
            $("#site_statistics").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);

                        showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + ' {{ 'user.single_name'|trans({}, 'AppBundle') }}');
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        }

    </script>
{% endblock %}
